{% extends "base.html" %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container text-white">
   <p><h2>{{ article.title }}</h2></p>
    <div class="alert alert-light">
        <p>{{ article.author }}</p>
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/upd" class="btn btn-success">Редактировать</a>
    </div>
   </div>

{% endblock %}